
PORT=4000
NODE_ENV=development
APP_NAME=FYP-26-S2-11 Backend

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=fyp_chatbot
# MONGODB_AUTOCONNECT=false
MONGODB_AUTOCONNECT=true


# Supabase
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
