
PORT=4000
NODE_ENV=development
APP_NAME=FYP-26-S2-11 Backend

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=fyp_chatbot
# MONGODB_AUTOCONNECT=false
MONGODB_AUTOCONNECT=true


# Vercel deployment note:
# Configure environment variables in the Vercel dashboard.
